/* Sidebar Styling */
.left-sidebar {
  margin: 1rem;
  width: 400px;
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hero Title */
.heroTitle {
  cursor: pointer;
}

/* Profile Header */
.profile-header {
  margin-bottom: 48px;
  text-align: left;
}

.profile-header h1 {
  font-weight: 750;
  color: #ffffff;
  margin-bottom: 8px;
}

.profile-header h2 {
  font-weight: 400;
  margin-bottom: 24px;
}

.profile-header p {
  line-height: 1.6;
}

/* Sidebar Navigation */
.sidebar-nav {
  margin-bottom: 48px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  position: relative;
  margin-bottom: 16px;
  transition: transform 0.3s ease;
}

.sidebar-nav a {
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar-nav a:hover {
  color: #ffffff;
  transform: translateX(6px);
}

.social-links ul {
  display: flex; 
  align-items: center; 
  gap: 16px; 
  padding: 0; 
  margin: 0; }

.social-links li {
  list-style-type: none; 
}

.social-icon {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.social-icon img {
  width: 30px;  
  height: 30px;  
  transition: transform 0.2s ease; 
  object-fit: contain; 
  filter: invert(61%) sepia(68%) saturate(466%) hue-rotate(176deg) brightness(95%) contrast(88%);
  transition: transform 0.3s ease-in-out; 
}

.social-icon img:hover {
  transform: scale(1.1); 
}


.navline {
  display: none;
}

.sidebar-container {
  width: 100%;
}

.sidebar-details {
  width: 100%;
}

.sidebar-social {
  list-style: none;
}



@media (max-width: 1024px) {
  .left-sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    align-self: center;
  }

  .sidebar-nav {
    display: none; 
  }



  .profile-header h1 {
    font-size: 24px;
  }

  .profile-header h2 {
    font-size: 18px;
  }

  .social-links {
    justify-content: center;
    margin-top: 32px;
  }

  .social-icon img {
    width: 20px;
    height: 20px;
  }
}

.sidebar-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 40px; 
  height: 2px; 
  background: #ffffff;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
}

.sidebar-nav ul li a:hover::after {
  width: 70px; 
  opacity: 1;
}


.sidebar-nav ul li a.active {
  font-weight: bold;
  color: #00ccff; 
}

.sidebar-nav ul li a.active::after {
  width: 70px; 
  background: #38bdf8;
  opacity: 1;
  height: 3px; 
}
