.skill-matrix {
  width: 100%;
  max-width: 1000px; /* Adjusted for more space */
  margin: 20px auto;
  padding: 20px;
  background: inherit;
}

.skill-matrix h2 {
  text-align: center;
  color: #e2e8f0;
  font-size: 24px;
  margin-bottom: 15px;
}

.skill-list {
  display: flex; /* This makes the list horizontal */
  flex-wrap: wrap; /* Allows wrapping if necessary */
  justify-content: center; /* Centers the items */
  gap: 20px; /* Adds space between items */
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #e2e8f0;
  transition: transform 0.3s ease-in-out;
}

.skill-item img {
  width: 40px;
  height: 40px;
  filter: invert(61%) sepia(68%) saturate(466%) hue-rotate(176deg) brightness(95%) contrast(88%);
  transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
  transform: scale(1.05);
}

.skill-item img:hover {
  transform: scale(1.2);
}
